'body':
  'ctrl-pageup': 'pane:show-previous-item'
  'ctrl-pagedown': 'pane:show-next-item'
  'ctrl-insert': 'core:copy'
  'shift-insert': 'core:paste'
  'shift-delete': 'core:cut'

'.workspace':
  'ctrl-shift-pagedown': 'tab-move-key:right'
  'ctrl-shift-pageup': 'tab-move-key:left'

'.editor':
  'ctrl-f2': 'bookmarks:toggle-bookmark'
  'ctrl-shift-f2': 'bookmarks:view-all'
